html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body,
main {
  background: hsl(100, 40%, 60%);
}

html,
body,
main,
section {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

use {
  fill: rgba(0, 0, 0, 0.1);

  stroke: lightblue;
  stroke-width: 0.1px;

  &:hover {
    fill: rgba(0, 0, 0, 0.135);
  }
}

path {
  fill: white;
}
