html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

html,
body,
main,
section {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

main {
  background: hsl(100, 40%, 60%);
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

rect {
  stroke: white;
}

path {
  fill: white;
}
